@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');

#app {
  font-family: "Jaldi", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a:visited {
  font-weight: bold;
  color: grey;
}

nav a.router-link-exact-active {
  color: red;
}